/* -------------------------------------------------------------------------- */


/*                                   general                                  */


/* -------------------------------------------------------------------------- */

* {
    margin: 0 auto;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

i {
    color: #F9B500;
}

b {
    color: #F9B500;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #F9B500;
    transition: all .3s;
}

li {
    display: inline;
    margin-right: 2vw;
}

.title {
    position: relative;
    padding-bottom: 3vh;
    margin-bottom: 4vh;
    font-size: 18px;
    font-weight: 700;
}

.title:after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: .2vh;
    background: #ccc;
}

.title:before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    height: 1vh;
    width: 15%;
    background-color: #F9B500;
}


/* -------------------------------------------------------------------------- */


/*                                navbar-header                               */


/* -------------------------------------------------------------------------- */

#header-nav {
    margin: 3vh 10vw 0 10vw;
}

#header-nav ul {
    float: right;
    list-style-type: none;
}

#header-nav ul li {
    display: inline;
    margin-left: 5vw;
}

#header-nav ul li a {
    text-decoration: none;
    color: black;
}

#header-nav ul li a:hover {
    color: rgba(195, 205, 50, 0.888);
}

#hamburger {
    display: none;
    float: right;
}

@media (max-width: 767.98px) {
    #header-nav ul {
        display: none;
    }
    #hamburger {
        display: inline-block;
    }
}