/* -------------------------------------------------------------------------- */


/*                                   general                                  */


/* -------------------------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.position-relative {
    position: relative;
}

.title {
    position: relative;
    padding-bottom: 2vh;
    font-size: 2vw;
    font-weight: 1vw;
}

.title:after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: .2vh;
    background: #ccc;
}

.title:before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 10%;
    height: .8vh;
    background: #F9B500;
}

i {
    color: #F9B500;
    padding-left: 2vw;
}


/* -------------------------------------------------------------------------- */


/*                                navbar-header                               */


/* -------------------------------------------------------------------------- */

#header-nav ul {
    float: right;
    list-style-type: none;
}

#header-nav ul li {
    display: inline;
    margin-left: 5vw;
}

#header-nav ul li a {
    text-decoration: none;
    color: black;
}

#header-nav ul li a:hover {
    color: rgba(195, 205, 50, 0.888);
}


/* -------------------------------------------------------------------------- */


/*                                 main-photos                                */


/* -------------------------------------------------------------------------- */

#container {
    width: 80%;
    margin: 2vh 10vw 0 10vw;
}

#main-photos section {
    float: left;
}


/* -------------------------------------------------------------------------- */


/*                                top-left-photo                               */


/* -------------------------------------------------------------------------- */

#top-left-photo {
    margin-top: 5vh;
    overflow: hidden;
    width: 47%;
    height: 65vh;
    position: absolute;
}

#top-left-photo img {
    position: absolute;
    width: 100%;
}

#top-left {
    height: 65vh;
    width: 100%;
    background-color: rgba(0, 0, 0, .4);
    position: absolute;
    z-index: 1;
    color: #ffffff;
}

#top-left p {
    padding-left: 2vw;
    display: inline-block;
}

#top-left p span {
    color: #F9B500;
}

#top-left h1 {
    padding: 48vh 0 2vh 2vw;
    line-height: 1.2;
    font-size: 1.8vw;
    font-weight: 2vh;
}


/* -------------------------------------------------------------------------- */


/*                              right side photos                             */


/* -------------------------------------------------------------------------- */

#main-right-photos {
    margin-top: 5vh;
    float: right;
    width: 40%;
}

#main-right-photos img {
    position: absolute;
    width: 33%;
    height: 37vh;
    overflow: hidden;
}

#main-right-photos section {
    overflow: hidden;
    width: 100%;
    height: 10vh;
}

.other-pictures {
    background-color: rgba(0, 0, 0, .4);
    padding-left: 2vw;
    color: white;
    position: absolute;
    width: 31%;
    height: 37vh;
}

.other-pictures p {
    display: inline-block;
}

.other-pictures h1 {
    padding: 20vh 0 2vh 0;
    font-size: 1.8vw;
    font-weight: 2vh;
}